name: check-in

on:
  workflow_dispatch:
  schedule:
    # Actions 任务延迟很高。
    # UTC+8 ~ 16:28
    - cron: '28 8 * * *'

jobs:
  checkin:
    name: Checkin
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      ACCOUNTS: ${{ secrets.ACCOUNTS }}
      HOST: ${{ secrets.HOST }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js latest
        uses: actions/setup-node@v4
        with:
          node-version: latest

      - name: Checkin
        id: checkin
        shell: bash
        run: |
          node main.js

      - name: Save results
        run: |
          echo -e "$(TZ='Asia/Shanghai' date +'%Y-%m-%d %H:%M:%S'): \n${{ steps.checkin.outputs.result }}\n" >> checkin-history.txt

      - name: Commit results
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add checkin-history.txt
          git commit -m "record checkin history" || exit 0
          git push https://${{ github.token }}@github.com/${{ github.repository }}.git
